

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&family=Work+Sans:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Work Sans', sans-serif;
}

/* css variable */

:root {
    --heading: rgb(0,10,45);
    --para: #777;
    --para-tint: #e4e4e4;
    --white: #fff;
    --black: #212529;
    --helper  : #8490ff;
    --helper-tint: #f3f4ff;
    --bg: rgb(249,249,255);
    --gradient: linear-gradient(0deg, rgb(132,144,255) 0%, rgb(98 189 252) 100%);
    --shadow: 0px 0px 20px 0px rgb(132, 144, 255 / 20%)
}

html{
    font-size: 62.5%;
    /*1rem = 10 px*/
 
}

h1,h2,h3,h4 {
    font-family: 'Poppins', sans-serif;
}

h1{
    color: var(--heading);
    font-weight: 600;
    font-size: 3rem;
}
h3{
    font-size: 1.8rem;
    font-weight: 400;
}

p{
    color: var(--para );
    line-height: 1.6;
    font-size: 1.7rem;
}
a{
    text-decoration: none;
}

li{
    list-style:none ;
}


/* ***** Header section start **** */

.header{
    padding: 0 4.8rem;
    height: 10rem;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    height: 3rem;
}

.navbar-lists{
    display: flex;
    gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--black);
    transition: color .3s linear;
}

.navbar-link:hover,
.navbar-link:active{
    color: var(--helper);
}
  /*reuse code section*/
   .section{
    padding: 7rem 0;
   }
   .container{
    max-width: 110rem;
    display: flex;
    gap: 5rem;
    margin: 0 auto;
   }
   
   
/* ***main hero section start **** */


.section-hero{
    background-color: var(--bg);
}

.section-hero-data{
   width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15rem;
    
}


.hero-top-data{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--helper);
}

.hero-heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.hero-para{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 60rem;
}

.btn{
    padding: 1.2rem 2rem;
    color: var(--helper-tint);
    background-color: #8490ff;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}



.btn:hover,
.btn:active{
box-shadow: 0 5px 5px 0 rgb(157, 166, 245);
}

.section-hero-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
  
}
.hero-img{
    width: 60%;
}


/* *** bio data part start **** */


.bio-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bio-img{
    width: 55%;
    box-shadow:  -2rem -2rem 0rem 0rem var(--helper);
}

.bio-data{
      width: 50%;
}

.common-heading{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 4rem;
    text-transform: capitalize;
    position: relative;
}

.common-heading::before{
     content: "";
     position: absolute;
     top: 6rem;
     left: 0;
     width: 1.4rem;
     height: 1.4rem;
     border-radius: 50%;
     background-color: var(--helper);
}

.common-heading::after{
    content: "";
    position: absolute;
    top: 6.5rem;
    left: 1.4rem;
    width: 30%;
    height: .3rem;
    background-color: var(--helper);
}

.bio-data-skills{
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 2rem;
}

h3{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: .8rem;
}

.bio-pro-bar-skill{
    width: 80%;
    height: 1rem;
    background-color: rgb(233,236,239);
    border-radius: 10rem;
    position: relative;
    box-shadow: var(--shadow);
}

.bio-pro-bar-skill::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: inherit;
      background:linear-gradient(0deg,
       rgb(132,144,255) 0%, rgb(98,189,251) 100%);
       border-radius: 10rem;
       border-radius: 10rem;
}

.pro-bar-2::before{
    width: 70%;
}
.pro-bar-3::before{
    width: 60%;
}

.pro-bar-4::before{
    width: 70%;
}
.pro-bar-5::before{
    width: 40%;
}

.bio-pro-bar-skill span{
      position: absolute;
      background-color: var(--helper);
      font-size: 1.2rem;
      width: 4rem;
      height: 2rem;
      top: 1.9rem;
      left: 54%;
      color: var(--white);
      border: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
}

.pro-bar-2 span{
    left: 65%;
}
.pro-bar-3 span{
    left: 54%;
}
.pro-bar-4 span{
    left: 65%;
}
.pro-bar-5 span{
    left: 35%;
}

.bio-pro-bar-skill span::after{
         content: "";
         position: absolute;
         top: -1.5rem;
         width: 0;
         height: 0;
         border: .8rem solid red;
         border-color: transparent;
         border-bottom-color: var(--helper);

}
 
/*** portfolio section start ***/

 .portfolio-container{
    flex-direction: column;
    gap: 3rem;
}

.portfolio-heading::after{
    width: 15%;
}

.portfolio-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* .portfolio-images{
      display: flex;
      gap: 3rem;
      flex-wrap: nowrap;
}



.img-overlay{
   flex-grow: 3;
   
}

.img-overlay img{
    width: 100%;
} */

.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .img-overlay {
    flex: 31%; 
  }
  
  .img-overlay img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 7px;
   position: relative;
    overflow: hidden;
  }
  
  .img-overlay .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(
      0deg,
      rgb(132 144 255) 0%,
      rgb(98 189 252) 100%
    ); */
    background-color: red;
    opacity: 0;
    color: var(--helper);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.3s linear;
    border-radius: 7px;
  }
  
  .img-overlay:hover > .overlay {
    opacity: 0.8;
    transform: translateY(0);
    cursor: pointer;
  }

  
/*  contact section start **/
.contact-heading{
     margin-left: 10rem;
}
.contact-heading::after{
    width: 130%;
}
.contact-container{
    width: 60rem;
    margin: 0 auto;
   margin-top: 8rem;
}

.contact-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

.form-input-1{
    display: flex;
    gap: 2rem;
}

.contact-container input,
textarea{
    padding: 1.2rem 1.8rem;
    border: .1rem solid #c9c9c9;
    border-radius: 5px;
    width: 100%;
    font-size: 1.3rem;
}

.contact-container input[type="submit"]{
    max-width: 30%;
    border: none;
}


/*** footer part start ***/
.footer-section{
    background-color:#212529;
}
.footer-container{
    max-width: 90rem;
    flex-direction: column;
}
.top-footer{
    display: flex;
    gap: 4rem;
    color: white;
   
}
.top-footer a,li{
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}
.about-footer{
    width: 25%;
    display: flex;
    flex-direction: column;
    
}
.link-footer{
   width: 25%;
   display: flex;
    flex-direction: column;
    
}
.services-footer{
    width: 25%;
    display: flex;
    flex-direction: column;
   
}

.question-footer{
    width: 25%;
    display: flex;
    flex-direction: column;
   
}

.buttom-footer{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 3rem;
}